<!DOCTYPE html>
<html lang="en-US">

<head>
	<meta charset="UTF-8">
	<title>Studio 95 Barbers</title>
	<meta name="robots" content="index, follow" />
	<meta name="description" content="Studio 95 Barbershop Web Page" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="profile" href="https://gmpg.org/xfn/11">
	<link rel="canonical" href="Replace_with_your_PAGE_URL" />

	<!-- Stylesheets -->
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/main.css" rel="stylesheet">
	<link href="css/responsive.css" rel="stylesheet">
	<link href="css/scroll.css" rel="stylesheet">

	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">

	<!-- Open Graph (OG) meta tags are snippets of code that control how URLs are displayed when shared on social media  -->
	<!-- <meta property="og:locale" content="en_US" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="Barbero - HTML Bootstrap Template" />
	<meta property="og:url" content="PAGE_URL" />
	<meta property="og:site_name" content="SITE_NAME" /> -->
	<!-- For the og:image content, replace the # with a link of an image -->
	<!-- <meta property="og:image" content="#" />
	<meta property="og:description" content="Barbero HTML Bootstrap Template" /> -->

	<!-- Fonts -->
	<link
		href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Karla:wght@400;700&family=Poppins:wght@300;400;500;600;700;800;900&display=swap"
		rel="stylesheet">

	<!-- Add site Favicon -->
	<link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
	<link rel="icon" href="images/favicon.png" type="image/x-icon">
	<meta name="msapplication-TileImage" content="images/favicon.png" />


</head>

<body>

	<div class="page-wrapper">

		<!-- Main Header-->
		<header class="main-header" id="mainHeader">

			<!--Header-Upper-->
			<div class="header-upper">
				<div class="auto-container">
					<div class="clearfix">

						<div class="pull-left logo-box">
							<div class="logo"><a href="/home"><img src="images/main-slider/white_logo.png" alt="" title=""></a></div>
						</div>

						<div class="nav-outer clearfix">
							<!-- Mobile Navigation Toggler -->
							<div class="mobile-nav-toggler"><span class="icon flaticon-menu"></span></div>
							<!-- Main Menu -->
							<nav class="main-menu navbar-expand-md">
								<div class="navbar-header">
									<button class="navbar-toggler" type="button" data-toggle="collapse"
										data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
										aria-label="Toggle navigation">
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
									</button>
								</div>

								<div class="navbar-collapse show collapse clearfix" id="navbarSupportedContent">
									<ul class="navigation left-nav clearfix">
										<li class="current"><a href="/home">Home</a></li>
										<li class="dropdown"><a>About</a>
											<ul>
												<li><a href="#target-about" name="scroll">About</a></li>
												<li><a href="#target-stylists" name="scroll">Stylists</a></li>
											</ul>
										</li>
									</ul>

									<ul class="navigation right-nav clearfix">
										<li class="dropdown"><a>Services</a>
											<ul>
												<li><a href="#target-services" name="scroll">Services</a></li>
												<li><a href="#target-pricing" name="scroll">Pricing</a></li>
											</ul>
										</li>
										<li><a href="/contact">Contact</a></li>
									</ul>

								</div>

							</nav>

							<!-- Login Box -->
							<ul class="login-box">
								<li><a href="/login"> Staff Login</a></li>
							</ul>

							<ul class="social-box">
								<li><a href="https://twitter.com/barbersupscale"><span class="icofont-twitter"></span></a></li>
								<li class="facebook"><a href="https://www.facebook.com/Studio95Barbers" class="icofont-facebook"></a></li>
								<!-- <li><a href="https://www.instagram.com/"><span class="icofont-instagram"></span></a></li> -->
							</ul>

							<!-- Outer Box -->
							<div class="outer-box clearfix">
								<!-- <ul class="options-nav">
									<li class="search-box-outer icon-magnifier"></li>
								</ul> -->
								<!-- Cart Box -->
								<!-- <div class="cart-box">
									<div class="dropdown">
										<button class="cart-box-btn dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown"
											aria-haspopup="true" aria-expanded="false"><span class="icon-basket"></span><span
												class="total-cart">2</span></button>
										<div class="dropdown-menu pull-right cart-panel" aria-labelledby="dropdownMenu">

											<div class="cart-product">
												<div class="inner">
													<div class="cross-icon"><span class="icon fa fa-remove"></span></div>
													<div class="image"><img src="images/resource/post-thumb-1.jpg" alt="" /></div>
													<h3><a href="contact.html">Beard Color</a></h3>
													<div class="quantity-text">Quantity 01</div>
													<div class="price">$99.00</div>
												</div>
											</div>
											<div class="cart-product">
												<div class="inner">
													<div class="cross-icon"><span class="icon fa fa-remove"></span></div>
													<div class="image"><img src="images/resource/post-thumb-2.jpg" alt="" /></div>
													<h3><a href="contact.html">Shave</a></h3>
													<div class="quantity-text">Quantity 1</div>
													<div class="price">$99.00</div>
												</div>
											</div>
											<div class="cart-total">Sub Total: <span>$198</span></div>
											<ul class="btns-boxed">
												<li><a href="contact.html">View Cart</a></li>
												<li><a href="contact.html">CheckOut</a></li>
											</ul>

										</div>
									</div>
								</div> -->
							<!-- </div> -->

						</div>

					</div>
				</div>
			</div>
			<!--End Header Upper-->

			<!-- Mobile Menu  -->
			<div class="mobile-menu">
				<div class="menu-backdrop"></div>
				<div class="close-btn"><span class="icon lnr lnr-cross"></span></div>

				<nav class="menu-box">
					<div class="nav-logo"><a href="/home"><img src="images/black_logo.png" alt="" title=""></a></div>
					<div class="menu-outer">
						<!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header-->
					</div>
				</nav>
			</div><!-- End Mobile Menu -->

		</header>
		<!--End Main Header -->

		<!-- Banner Section -->
		<section class="banner-section">
			<div class="main-slider-carousel owl-carousel owl-theme">

				<div class="slide" style="background-image: url(images/main-slider/banner.jpg); filter: grayscale(100%);">
					<div class="auto-container">

						<div class="content-boxed">
							<div class="inner-box">
								<div class="title">Upscale Men's</div>
								<h1>Studio 95</h1>
								<h2>Haircut Shave <br> & Barber</h2>
								<div class="btn-box text-center">
									<a href="/contact" class="theme-btn btn-style-one"><span class="txt">Reservation</span></a>
								</div>
							</div>
						</div>

					</div>
				</div>

				<div class="slide" style="background-image: url(images/main-slider/banner.jpg); filter: grayscale(100%);">
					<div class="auto-container">

						<div class="content-boxed">
							<div class="inner-box">
								<div class="title">Upscale Men's</div>
								<h1>Studio 95</h1>
								<h2>Haircut Shave <br> & Barber</h2>
								<div class="btn-box text-center">
									<a href="contact.html" class="theme-btn btn-style-one"><span class="txt">Reservation</span></a>
								</div>
							</div>
						</div>

					</div>
				</div>

				<div class="slide" style="background-image: url(images/main-slider/banner.jpg); filter: grayscale(100%);">
					<div class="auto-container">

						<div class="content-boxed">
							<div class="inner-box">
								<div class="title">Upscale Men's</div>
								<h1>Studio 95</h1>
								<h2>Haircut Shave <br> & Barber</h2>
								<div class="btn-box text-center">
									<a href="contact.html" class="theme-btn btn-style-one"><span class="txt">Reservation</span></a>
								</div>
							</div>
						</div>

					</div>
				</div>

			</div>

			<!-- Slider Icon Scroll -->
			<a href="#target-about">
				<div class="slider-icon-scroll scroll-to-target"><span
					class="icofont-scroll-down"></span></div>
			</a>
			

		</section>
		<!-- End Banner Section -->

		<!-- Reserve Section -->
		<section class="reserve-section" id="target-about">
			<div class="auto-container">
				<div class="inner-container">
					<div class="row clearfix">

						<!-- Logo Column -->
						<div class="logo-column col-lg-5 col-md-12 col-sm-12">
							<div class="inner-column">
								<div class="image">
									<img src="images/black_logo.png" alt="" style="margin-top: 110px;"/>
								</div>
							</div>
						</div>

						<!-- Content Column -->
						<div class="content-column col-lg-7 col-md-12 col-sm-12">
							<div class="inner-column">
								<h2>About</h2>
								<p>
									Studio 95 Barbers offers upscale grooming with expert barbers and premium amenities.
									<br/><br/>
									Relax in our comfortable salon as skilled stylists personalize your grooming experience.
									<br/><br/>
									We go beyond typical barbershops, offering style advice and online booking convenience.
								</p>
								<div class="reserve">reservation</div>
								<a href="tel:6304209555" class="phone">(630) 420-9555</a>
							</div>
						</div>

					</div>
				</div>
			</div>
		</section>
		<!-- End Reserve Section -->

		<!-- Services Section -->
		<section class="services-section" id="target-services">
			<div class="auto-container">
				<!-- Section Title -->
				<div class="section-title centered">
					<h2 id="services">Our Services</h2>
				</div>



				<div class="row clearfix">
					<!-- Service Block -->
					<div class="service-block col-lg-3 col-md-6 col-sm-12">
						<div class="inner-box">
							<div class="image">
								<img src="images/resource/service-1.jpg" alt="" />
							</div>
							<div class="lower-content">
								<h4><a href="#target-pricing" name="scroll">Express Haircut</a></h4>
								<p>Precision haircut by master barber, shampoo option, hot lather razor shave. ($5 shampoo fee)</p>
							</div>
						</div>
					</div>

					<!-- Service Block -->
					<div class="service-block col-lg-3 col-md-6 col-sm-12">
						<div class="inner-box">
							<div class="image">
								<img src="images/resource/service-2.jpg" alt="" />
							</div>
							<div class="lower-content">
								<h4><a href="#target-pricing" name="scroll">Signature Haircut</a></h4>
								<p>Shampoo, massage, haircut, shave, towel, oils, moisturizer, massage, beverage included.</p>
							</div>
						</div>
					</div>

					<!-- Service Block -->
					<div class="service-block col-lg-3 col-md-6 col-sm-12">
						<div class="inner-box">
							<div class="image">
								<img src="images/resource/service-3.jpg" alt="" />
							</div>
							<div class="lower-content">
								<h4><a href="#target-pricing" name="scroll">Premier Hot Lather Shave</a></h4>
								<p>Hot towels, pre-shave oil, rich cream, double shave, alum block, luxury.</p>
							</div>
						</div>
					</div>

					<!-- Service Block -->
					<div class="service-block col-lg-3 col-md-6 col-sm-12">
						<div class="inner-box">
							<div class="image">
								<img src="images/resource/service-4.jpg" alt="" />
							</div>
							<div class="lower-content">
								<h4><a href="#target-pricing" name="scroll">Signature Haircut & Shave</a></h4>
								<p>Ultimate grooming: Signature Haircut + Premier Hot Lather Shave.</p>
							</div>
						</div>
					</div>
				</div>

				<div class="row clearfix">
					<!-- Service Block -->
					<div class="service-block col-lg-3 col-md-6 col-sm-12">
						<div class="inner-box">
							<div class="image">
								<img src="images/resource/service-5.jpg" alt="" />
							</div>
							<div class="lower-content">
								<h4><a href="#target-pricing" name="scroll">Bald Head Towel Shave</a></h4>
								<p>Revitalize your head: Hot towel shave, scalp massage.</p>
							</div>
						</div>
					</div>

					<!-- Service Block -->
					<div class="service-block col-lg-3 col-md-6 col-sm-12">
						<div class="inner-box">
							<div class="image">
								<img src="images/resource/service-6.jpg" alt="" />
							</div>
							<div class="lower-content">
								<h4><a href="#target-pricing" name="scroll">Child Haircut</a></h4>
								<p>11 & under, Up-dos, celebrity looks, designs (extra fee).</p>
							</div>
						</div>
					</div>

					<!-- Service Block -->
					<div class="service-block col-lg-3 col-md-6 col-sm-12">
						<div class="inner-box">
							<div class="image">
								<img src="images/resource/service-7.jpg" alt="" />
							</div>
							<div class="lower-content">
								<h4><a href="#target-pricing" name="scroll">Beard Trim w/ Shave</a></h4>
								<p></p>
							</div>
						</div>
					</div>

					<!-- Service Block -->
					<div class="service-block col-lg-3 col-md-6 col-sm-12">
						<div class="inner-box">
							<div class="image">
								<img src="images/resource/service-8.jpg" alt="" />
							</div>
							<div class="lower-content">
								<h4><a href="#target-pricing" name="scroll">Express Haircut w/ Beard Trim</a></h4>
								<p></p>
							</div>
						</div>
					</div>
					
				</div>


				<div class="row clearfix">
					<!-- Service Block -->
					<div class="service-block col-lg-3 col-md-6 col-sm-12">
						<div class="inner-box">
							<div class="image">
								<img src="images/resource/service-9.jpg" alt="" />
							</div>
							<div class="lower-content">
								<h4><a href="#target-pricing" name="scroll">Skin Fade</a></h4>
								<p></p>
							</div>
						</div>
					</div>

					<!-- Service Block -->
					<div class="service-block col-lg-3 col-md-6 col-sm-12">
						<div class="inner-box">
							<div class="image">
								<img src="images/resource/service-10.jpg" alt="" />
							</div>
							<div class="lower-content">
								<h4><a href="#target-pricing" name="scroll">Face Waxing</a></h4>
								<p>Brow, Ear, Nose outside & inside.</p>
							</div>
						</div>
					</div>

					<!-- Service Block -->
					<div class="service-block col-lg-3 col-md-6 col-sm-12">
						<div class="inner-box">
							<div class="image">
								<img src="images/resource/service-11.jpg" alt="" />
							</div>
							<div class="lower-content">
								<h4><a href="#target-pricing" name="scroll">Color Blending</a></h4>
								<p>Color Blending with semi-permanent hair color to blend & tone grey hair.</p>
							</div>
						</div>
					</div>
					
					<!-- Service Block -->
					<div class="service-block col-lg-3 col-md-6 col-sm-12">
						<div class="inner-box">
							<div class="image">
								<img src="images/resource/service-12.jpg" alt="" />
							</div>
							<div class="lower-content">
								<h4><a href="#target-pricing" name="scroll">Permanent Gray Color Coverage</a></h4>
								<p></p>
							</div>
						</div>
					</div>

				
				</div>

			</div>
		</section>
		<!-- End Services Section -->


		<!-- Price Section -->
		<section class="pricing-section" id="target-pricing">
			<div class="auto-container">
				<!-- Section Title -->
				<div class="section-title centered">
					<h2>Pricing List</h2>
				</div>
				<div class="row clearfix">
					<!-- Column -->
					<div class="column col-lg-6 col-md-12 col-sm-12">

						<!-- Price Block -->
						<div class="price-block">
							<div class="inner-box">
								<div class="price">$28</div>
								<h4><a href="#target-services" name="scroll">Express Haircut</a></h4>
								<p>$5 extra for shampoo</p>
							</div>
						</div>

						<!-- Price Block -->
						<div class="price-block">
							<div class="inner-box">
								<div class="price">$40</div>
								<h4><a href="#target-services" name="scroll">Premier Hot Lather Shave</a></h4>
								<p>Hot towels and a double shave</p>
							</div>
						</div>

						<!-- Price Block -->
						<div class="price-block">
							<div class="inner-box">
								<div class="price">$36</div>
								<h4><a href="#target-services" name="scroll">Bald Head Towel Shave</a></h4>
								<p>Facial for your head</p>
							</div>
						</div>

						<!-- Price Block -->
						<div class="price-block">
							<div class="inner-box">
								<div class="price">$30</div>
								<h4><a href="#target-services" name="scroll">Beard Trim w/ Shave</a></h4>
								<p>Precision grooming with a luxurious shave</p>
							</div>
						</div>

						<!-- Price Block -->
						<div class="price-block">
							<div class="inner-box">
								<div class="price">$30</div>
								<h4><a href="#target-services" name="scroll">Color Blending</a></h4>
								<p>Semi-permanent hair color blending</p>
							</div>
						</div>

						<!-- Price Block -->
						<div class="price-block">
							<div class="inner-box">
								<div class="price">$35</div>
								<h4><a href="#target-services" name="scroll">Skin Fade</a></h4>
								<p>Sleek and stylish skin fade transformation</p>
							</div>
						</div>

					</div>
					<!-- Column -->
					<div class="column col-lg-6 col-md-12 col-sm-12">

						<!-- Price Block -->
						<div class="price-block">
							<div class="inner-box">
								<div class="price">$40</div>
								<h4><a href="#target-services" name="scroll">Signature Haircut</a></h4>
								<p>Complementary beverage included</p>
							</div>
						</div>

						<!-- Price Block -->
						<div class="price-block">
							<div class="inner-box">
								<div class="price">$65</div>
								<h4><a href="#target-services" name="scroll">Signature Haircut & Shave</a></h4>
								<p>The ultimate grooming experience</p>
							</div>
						</div>

						<!-- Price Block -->
						<div class="price-block">
							<div class="inner-box">
								<div class="price">$25</div>
								<h4><a href="#target-services" name="scroll">Child Haircut</a></h4>
								<p>11 & under</p>
							</div>
						</div>

						<!-- Price Block -->
						<div class="price-block">
							<div class="inner-box">
								<div class="price">$50</div>
								<h4><a href="#target-services" name="scroll">Express Haircut w/ Beard Trim</a></h4>
								<p>Complete for hair and beard perfection</p>
							</div>
						</div>

						<!-- Price Block -->
						<div class="price-block">
							<div class="inner-box">
								<div class="price">$12+</div>
								<h4><a href="#target-services" name="scroll">Face Waxing</a></h4>
								<p>Starting at $12</p>
							</div>
						</div>

						<!-- Price Block -->
						<div class="price-block">
							<div class="inner-box">
								<div class="price">$40+</div>
								<h4><a href="#target-services" name="scroll">Permanent Gray Color Coverage</a></h4>
								<p>Starting at $40</p>
							</div>
						</div>

					</div>
				</div>
			</div>
		</section>
		<!-- End Price Section -->

		

		<!-- Team Section -->
		<section class="team-section" id="target-stylists">
			<div class="auto-container">
				<div class="section-title centered light">
					<h2>Our Stylists</h2>
				</div>
				<div class="row clearfix">

					<!-- Team Block -->
					<div class="team-block col-lg-4 col-md-6 col-sm-12">
						<div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
							<div class="image">
								<a href="about.html"><img src="images/resource/team-1.jpg" alt="" /></a>
								<ul class="social-icons">
									<li><a href="https://twitter.com/" class="icofont-twitter"></a></li>
									<li><a href="http://facebook.com/" class="icofont-facebook"></a></li>
									<li><a href="http://google.com/" class="icofont-instagram"></a></li>
									<li><a href="http://linkedin.com/" class="icofont-linkedin"></a></li>
								</ul>
							</div>
							<div class="lower-content">
								<h4><a href="about.html">Edward Eric Jr</a></h4>
								<div class="designation">Hair & Beard Stylist</div>
							</div>
						</div>
					</div>

					<!-- Team Block -->
					<div class="team-block col-lg-4 col-md-6 col-sm-12">
						<div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
							<div class="image">
								<a href="about.html"><img src="images/resource/team-2.jpg" alt="" /></a>
								<ul class="social-icons">
									<li><a href="https://twitter.com/" class="icofont-twitter"></a></li>
									<li><a href="http://facebook.com/" class="icofont-facebook"></a></li>
									<li><a href="http://google.com/" class="icofont-instagram"></a></li>
									<li><a href="http://linkedin.com/" class="icofont-linkedin"></a></li>
								</ul>
							</div>
							<div class="lower-content">
								<h4><a href="about.html">Tom Holland</a></h4>
								<div class="designation">Clipper Cut Stylist</div>
							</div>
						</div>
					</div>

					<!-- Team Block -->
					<div class="team-block col-lg-4 col-md-6 col-sm-12">
						<div class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
							<div class="image">
								<a href="about.html"><img src="images/resource/team-3.jpg" alt="" /></a>
								<ul class="social-icons">
									<li><a href="https://twitter.com/" class="icofont-twitter"></a></li>
									<li><a href="http://facebook.com/" class="icofont-facebook"></a></li>
									<li><a href="http://google.com/" class="icofont-instagram"></a></li>
									<li><a href="http://linkedin.com/" class="icofont-linkedin"></a></li>
								</ul>
							</div>
							<div class="lower-content">
								<h4><a href="about.html">Novad Erakovic</a></h4>
								<div class="designation">Beard Trim & Shaving Man</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</section>
		<!-- End Team Section -->

		<!-- Testimonial Section -->
		<section class="testimonial-section" style="background-image: url(images/background/1.jpg)">
			<div class="auto-container">
				<!-- Title Box -->
				<div class="title-box">
					<div class="logo-box">
						<img src="images/main-slider/white_logo.png" alt="" />
					</div>
					<h2>Testimonials</h2>
				</div>
				<!-- End Title Box -->

				<div class="testimonial-outer">
					<div class="quote-icon">
						<span class="quote"></span>
					</div>
					<!--Client Testimonial Carousel-->
					<div class="client-testimonial-carousel owl-carousel owl-theme">

						<!-- Testimonial Block -->
						<div class="testimonial-block">
							<div class="inner-box">
								<p>
									Been looking for a good Barbershop in the Naperville area. Studio 95 Barbers is the best! Great people/barbers and an awesome shop. Really good vibes from everyone on all accounts. Incredible customer service as far as always making sure the customer is happy and satisfied.
								</p>
								<div class="info-box">
									<div class="rating">
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
									</div>
									<div class="author-info">Vinny M. - <span>Customer</span></div>
								</div>
							</div>
						</div>

						<!-- Testimonial Block -->
						<div class="testimonial-block">
							<div class="inner-box">
								<p>
									I’ve had every barber at Studio 95 Barbers cut my hair and they’re all excellent. Being able to schedule an appointment and not have to wait is priceless! I feel like family when I come in and always look forward to my next cut. I’ve recommended Studio 95 Barbers to many others who became regulars.
								</p>
								<div class="info-box">
									<div class="rating">
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
									</div>
									<div class="author-info">Brian H. - <span>Customer</span></div>
								</div>
							</div>
						</div>
					</div>

					<!--Product Thumbs Carousel-->
					<div class="client-thumb-outer">
						<div class="client-thumbs-carousel owl-carousel owl-theme">
							<!-- <div class="thumb-item">
								<figure class=""><img src="" alt=""></figure>
							</div>
							<div class="thumb-item">
								<figure class=""><img src="" alt=""></figure>
							</div>
							<div class="thumb-item">
								<figure class=""><img src="" alt=""></figure>
							</div>
							<div class="thumb-item">
								<figure class=""><img src="" alt=""></figure>
							</div>
							<div class="thumb-item">
								<figure class=""><img src="" alt=""></figure>
							</div>
							<div class="thumb-item">
								<figure class=""><img src="" alt=""></figure>
							</div> -->
						</div>
					</div>

				</div>

			</div>
		</section>
		<!-- End Testimonial Section -->


		<!-- Reservation Section -->
		<section class="reservation-section">
			<div class="auto-container">
				<div class="section-title centered">
					<h2>Book A Reservation</h2>
				</div>
				<div class="inner-container">
					

					<!-- Reservation Form -->
					<div class="reservation-form">
						<!-- Contact Form -->
						<form method="post" action="/" id="homeForm" onSubmit="setTimeout(function () { window.location.reload(); }, 500);">
							<div class="row clearfix">
								<div class="col-lg-4 col-md-6 col-sm-12 form-group">
									<input type="text" name="name" placeholder="Full Name" required>
								</div>

								<div class="col-lg-4 col-md-6 col-sm-12 form-group">
									<input type="email" name="email" placeholder="Email Address" id="emailInput" required>
								</div>

								<div class="col-lg-4 col-md-12 col-sm-12 form-group">
									<input type="text" name="phone" placeholder="Your Number Phone" required>
								</div>

								<div class="col-lg-12 col-md-12 col-sm-12 form-group">
									<select id="barbers" class="selectBarber" name="barber">
										<option value="Any">Any Barber Works</option>
										<option value="Alla">Alla</option>
										<option value="Bilijana">Bilijana</option>
										<option value="Lena">Lena</option>
										<option value="Natalia">Natalia</option>
										<option value="Olga">Olga</option>
									</select>
								</div>

								<div class="col-lg-6 col-md-12 col-sm-12 form-group">
									<div class="form-calendar">
										<input type="date" name="date" id="datePicker" class="date" readonly value="Please Click Here to Select a Date" format="mm/dd/yyyy"/>
									</div>
								</div>

								<div id="timeData" data-time-data="<%= JSON.stringify(timeData) %>"></div>
								<div class="col-lg-6 col-md-12 col-sm-12 form-group">
									<div class="form-time">
										<select id="timePicker" name="time" class="time"></select>
									</div>
								</div>

								<div class="col-lg-12 col-md-12 col-sm-12 text-center form-group">
									<button class="theme-btn btn-style-one" type="submit" name="submit-form"><span class="txt">Book a
											Reservation</span></button>
								</div>
							</div>
						</form>
					</div>
					<!-- End Reservation Form -->

				</div>
			</div>
		</section>
		<!-- End Reservation Section -->

		<!-- Main Footer -->
		<footer class="main-footer" style="background-image: url(images/background/8.jpg); ">
			<div class="auto-container">
				<!--Widgets Section-->
				<div class="widgets-section">
					<div class="row clearfix">

						<!-- Footer Column -->
						<div class="footer-column col-lg-4 col-md-6 col-sm-12">
							<div class="footer-widget office-widget">
								<h4>contact</h4>
								<ul class="location-list">
									<li>3020 Reflection Drive #106 <br>Naperville, IL 60564 <br> United States</li>
									<li><a href="mailto:info@studio-95-barbers.com">info@studio-95-barbers.com</a></li>
									<li><a href="tel:6304209555">(630) 420-9555</a></li>
								</ul>

								<!-- Social Box -->
								<ul class="social-box">
									<li><a href="https://twitter.com/barbersupscale" class="icofont-twitter"></a></li>
									<li class="facebook"><a href="https://www.facebook.com/Studio95Barbers" class="icofont-facebook"></a></li>
									<!-- <li class="instagram"><a href="https://www.instagram.com/" class="icofont-instagram"></a></li> -->
								</ul>
							</div>
						</div>

						<!-- Footer Column -->
						<div class="footer-column col-lg-4 col-md-12 col-sm-12">
							<div class="footer-widget logo-widget">
								<div class="logo">
									<a href="/home"><img src="images/main-slider/white_logo.png" alt="" /></a>
								</div>
							</div>
						</div>

						<!-- Footer Column -->
						<div class="footer-column col-lg-4 col-md-6 col-sm-12">
							<div class="footer-widget twitter-widget">
								<h4>hours</h4>
								<div class="tweet">
									Mon:<div class="post-date">Closed</div>
									<br>
									Tues-Fri:<div class="post-date">10am-4pm</div>
									<br>
									Sat:<div class="post-date">8am-4pm</div>
									<br>
									Sun:<div class="post-date">11am-4pm</div>
									<br>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
			<div class="footer-bottom">
				<div class="auto-container">
					<div class="copyright">
						<p class="copyright">
							© 2023 <strong>Studio 95</strong> Made 
							<!-- with <i class="icofont-heart text-danger" aria-hidden="true"></i>  -->
							by 
							<!-- <a href=""> -->
							<strong>Andrew Catoiu</strong>
							<!-- </a> -->
						</p>
					</div>
				</div>
			</div>
		</footer>

	</div>
	<!--End pagewrapper-->

	<!-- Search Popup -->
	<!-- <div class="search-popup">
		<button class="close-search style-two"><span class="icofont-brand-nexus"></span></button>
		<button class="close-search"><span class="icofont-arrow-up"></span></button>
		<form method="post" action="blog.html">
			<div class="form-group">
				<input type="search" name="search-field" value="" placeholder="Search Here" required="">
				<button type="submit"><i class="fa fa-search"></i></button>
			</div>
		</form>
	</div> -->
	<!-- End Header Search -->

	<!-- Success Popup -->
	<!-- Modal -->
	<div id="successModalContainer">
		<div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true" style=>
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="successModalLabel">Success!</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<p id="successMessage"></p>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Scroll To Top -->
	<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-arrow-circle-up"></span></div>

	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script> -->
	<script src="js/jquery.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
	<script src="js/jquery.fancybox.js"></script>
	<script src="js/appear.js"></script>
	<script src="js/owl.js"></script>
	<script src="js/wow.js"></script>
	<script src="js/isotope.js"></script>
	<script src="js/jquery-ui.js"></script>
	<script src="js/script.js"></script>
	<script src="js/preventFragments.js"></script>
	<script src="js/aboutFragments.js"></script>
	<script src="js/scrollRefresh.js"></script>
	<script src="js/showPopup.js"></script>
	<script src="js/sharedScript.js"></script>
	<script src="js/datePicker.js"></script>
	<script src="js/timePicker.js"></script>

</body>

</html>